/* css/game.css */

#controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls button {
    width: 70px;
    height: 70px;
    margin: 5px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    background-color: #444;
    color: white;
    outline: none;
}

#controls button:active {
    background-color: #888;
}

#controls div {
    display: flex;
    justify-content: center;
}
