/* css/game.css */

#controls {
    position: fixed;
    bottom: 20px; /* Ajusta la posición superior del contenedor de controles */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000; /* Asegura que los controles estén sobre otros elementos */
}

#control-row {
    display: flex;
    justify-content: center;
}

#controls button {
    width: 80px;
    height: 80px;
    margin: 10px;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    background-color: #444;
    color: white;
    outline: none;
}

#controls button:active {
    background-color: #888; /* Color al presionar el botón */
}

#controls div {
    display: flex;
    justify-content: center;
}
